<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Sky Crew Alpha</h1>
  <h2>Sky Crew Alpha, or Sky Crew for short,
     serves as the foundation for <i>Skyfarer's Light</i> and <i>Sierokarte's Assistant</i>
      apps currently in development.</h2>

  <h2>These are doujin applications for
      <i><%= link_to "Granblue Fantasy", "http://game.granbluefantasy.jp"%></i>,
    a role-playing game developed by Cygames for Android, iOS and web browsers.</h2>

  <h2>Sky Crew demonstrates a web application built using Ruby on Rails
     and features a basic CRUD interface for handling Skyfarer data.</h2>

  <h2>More information on Sky Crew project files can be found at the
    <%= link_to "github repository", "https://github.com/mjtabaya/SkyCrew_Alpha"%>,.</h2>

  <h2>Thank you for visiting, happy adventures!</h2>

</div>
