<% provide(:title, "Home") %>

<div class="center jumbotron">
  <h1>Cease not, lest the skies fall upon thee</h1>
  <br>

  <p>
    Take this wish, to those with soaring pulses whom the heart calls:<br><br>
    Raise your vow, high yet full of depth.<br><br>
    Perceive the sight, 'tis yours whose resolve be embraced.
    <br><br>
    Smile gently at the ending, thus press
    <% if logged_in? %>
      <%= link_to "Onward", logout_path, method: :delete %>
    <% else %>
      <%= link_to "Onward.", signup_path %>
    <% end %>
  </p>

</div>
