<% provide(:title, "Home") %>

<!DOCTYPE html>
<html>

  <body>
      <a href="/users">Users</a>
    <br>
      <a href="/captains">Captains</a>
    <br>
      <a href="/skyfarers">Skyfarers</a>
    <br>
      <a href="/weapons">Weapons</a>
    <br>
      <a href="/arsenals">Arsenals</a>
  </body>

</html>
