<h1>Sky Crew App - Home</h1>
<br>
  <a href="/users">Users</a>
<br>
  <a href="/captains">Captains</a>
<br>
  <a href="/skyfarers">Skyfarers</a>
<br>
  <a href="/weapons">Weapons</a>
<br>
  <a href="/arsenals">Arsenals</a>
