<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"  class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @current_captain.name %></td>
        <td><%= link_to 'Start', @current_captain %></td>
        <td><%= link_to 'Update', edit_captain_path(@current_captain) %></td>
        <td><%= link_to 'Delete', @current_captain, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>
