// Place all the styles related to the Weapons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$dark: #000;
$light: #fff;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html, body {
    min-height: 100%;
}

body {
  background: {
    image: asset-data-url("background_gbf.jpg")
  };
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 60px;
}

.container {
  background: rgba($dark, 0.7);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }

}

.inventory {
  padding-top: 30px;
  padding-bottom: 30px;
}

.headed-content {
  border-top: double #87CEEB;
  padding-bottom: 30px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* table divider */
.divider {border-right: 3px solid rgba($dark, 0.4); padding-right: 5px;}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $gray-light;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: $gray-light;
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #ffffff;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #ffffff;
  a {
    color: #ffffff;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* captain ui */
.crew_info {
  margin-top: 45px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.jumbotron {
  background: transparent;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #87CEEB;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
  color: black;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
    width: 100%;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: red;
  }
}


/* bootstrap overrides */
.table-hover tbody tr:hover {
    background-color: rgba($dark, 0.7);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: #87CEEB;
  a {
    color: #87CEEB;
  }
}
