<footer>

  <small>
    <a href="https://bitbucket.org/mjtabaya/skycrew_alpha">GitHub repository</a>
  </small>

  <div class="text-right">
    <p>Sky Crew v46ca78b - An mjtabaya project.</p>
  </div>

</footer>
