<footer>

  <small>
    <a href="https://github.com/mjtabaya/SkyCrew_Alpha" target="_blank">GitHub repository</a>
  </small>

  <div class="text-right">
    <p>Sky Crew v46ca78b - An mjtabaya project.</p>
  </div>

</footer>
